<div class="container">
<div class="row m-4 p-2 fs-6">
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
       <strong>WORLD TRAVEL AGENCY’</strong> 
       <hr>
was established in 2017 under the license issued by the (WKO) Tourism Organization in Austria.
The company’s main business is to issue tourism, consultant tourism international and domestic airline tickets and organizing trips, Hotel reservation, Tour guide and tours covering various areas such as recreational, business, exhibitions, art and sport and cultural events, scientific-academic conferences in all over the world.
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
       <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2017/09/16/19/34/parrot-2756491_960_720.jpg" alt="">
    </div>
</div>

<div class="row m-4 p-2 fs-6">
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
       <strong>Let us plan your group tour to Europe!</strong> 
       <hr>
       <p>
       CCA Travel Agency, based in Salzburg Austria, has been your reliable tour operator for more than 20 years. Specialized in tailor made group tours to Europe, we offer high quality services including hotels, restaurants, bus services, guided tours and other sightseeing programs suitable for youth groups, alumni, music groups or sports teams!</p>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
        <p>
        Would you like to take your choir, band or orchestra on a concert tour and follow Mozart’s and Bach’s footsteps? Or would you rather attend a game of your favorite soccer team and compete against local sides? Then get in touch with us because we can make it happen!

        Whether you are a food lover, an art aficionado or a sport fanatic, we can create the perfect routing for you. With us, your trip is in safe hands!</p>
    </div>
</div>
</div>
