<div class="m-4">

<h2>Destianion Details</h2>
<button class="btn btn-outline-success m-3" routerLink="/travel">Go back </button>
<div class="row">
    <div *ngIf="details">
    <div class=" mb-3 col col-12 d-flex align-items-stretch ">
        <div class="row g-1 container-fluid card shadow-lg bg-card-color">
        <div class="container-fluid">
        <img  style="width:100%; height:220px; object-fit: cover;" src="{{details.img}}" class="card-img-top d-sm-none d-md-block d-none img-fluid" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{details.destination}}</h5>
        <hr>
        <p class="card-text">{{details.price | currency}}</p>
        <p class="card-text">Starts at: {{details.startDate}}</p>
        <p class="card-text">Duration: {{details.duration}}</p>
        <p class="card-text">{{details.description}}</p>
        <button class="btn btn-success" (click)="addToCart(details)" >Add To Cart</button>

    </div>
</div>
</div>
</div>


    </div>
</div>
</div>