<div class="content shadow m-4 p-3 bg align-items-center text-center card">
<h3>Your Cart:</h3>

<div *ngFor="let item of cart">

 <span>{{ item.destination }} </span>

 <span>{{ item.price | currency }}</span>

 


</div>
<hr>
<span><strong> Total amount:</strong> {{this.total | currency}}</span>


<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit(checkOutForm.value)">

    <div class="input-group m-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="name">
      </div>

      <div class="input-group m-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" formControlName="address">
      </div>
  

    <button class="btn btn-success" type="submit">Purschase</button>


</form>

</div>