.bg-image {
    background: url(maldives.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}