<!-- Content starts -->

<div class="container m-4">
    <h2 class="text-center">VISITING POMPEII: THE ROMAN CITY FROZEN IN TIME</h2>
    <hr>
    <div class="row m-4 p-2 fs-6">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <p>
            Today it’s one the most famous Roman sites in the world, but Pompeii was just another Roman seaside resort
            until Mount Vesuvius erupted in 79 AD. Just a day later, thousands of people has been killed and the whole
            city was buried under a blanket of volcanic ash 25 metres deep, forgotten until it was unearthed by
            explorers 1800 years later.
            The first I heard of this buried city, preserved like a snapshot of Roman life frozen in time, was in school
            Latin classes. I can’t remember my verbs, but those books started my fascination with the Romans, and put
            visiting Pompeii top of my list of things to do in Italy.</p>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid rounded"
                src="https://cdn.pixabay.com/photo/2019/11/18/21/37/vesuvius-4635882__340.jpg" alt="">
        </div>
    </div>

    <div class="row m-4 p-2 fs-6">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2019/03/13/21/52/pompeii-4053847__480.jpg"
                alt="">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
           <strong>THE HISTORY OF POMPEII</strong> <br>
           <p>
            Pompeii was originally settled by the Etruscan and Greeks, but by the first century AD it was a thriving
            Romans city, with visitors flocking south to spend their holidays relaxing on the Bay of Naples. Pompeii’s
            population swelled, and by 79 AD it’s estimated that around 12,000 people lived in the city with as many
            again living in the surrounding villages.

            Pompeii was home to taverns, shops, factories, bathhouses and brothels, as well as an arena seating 20,000
            people. And in the background was Mount Vesuvius – Pompeii’s menacing next-door neighbour who never let the
            local residents forget about it for long.
        </p>
        </div>
    </div>

    <div class="row m-4 p-2 fs-6">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <p>
            Although there were frequent tremors, and a larger earthquake in 62 AD which sent a tsunami as far as Rome, Vesuvius hadn’t erupted for hundreds of years. People didn’t see it as a real threat, building houses in the foothills and vineyards and gardens in the fertile soils of its slopes. But in the autumn of 79 AD, Mount Vesuvius finally broke its silence.

            It was one of the world’s most catastophic eruptions. The force blew the top out of the volcano, sending a plume of ash and rock high up into the sky, visible for hundreds of miles around. Across the Bay of Naples, Pliny the Younger recorded that “Darkness fell, not the dark of a moonless or cloudy night, but as if the lamp had been put out in a dark room.”</p>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <p>
            Many residents escaped, but as the ash column started to cool, it rained down on everything within a 15-mile radius, including Pompeii and the city of Herculaneum to the north. The people that were left behind were smothered by a pyroclastic surge of superheated rock and gas which ran down the slopes of the volcano at over 100 miles an hour.

            At the end of the eruruption around 2000 people had been killed and Pompeii had disappeared under metres of ash. The site was looted for valuables but eventually forgotten about, and it stayed undisturbed until 1748 when a group of explorers started digging and came across perfectly preserved Roman artefacts buried underground.
        </p>
        </div>
    </div>
</div>

<!-- Content Ends -->